dist/index.html
<!DOCTYPE html>
<html lang="ru"></html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>Binary Studio Game - Street Fighters</title>
<link href="css/app.css" rel="stylesheet"></head>
<body>
  <noscript>You need to enable JavaScript to run this app</noscript>
  <div id="root"></div>
  <div class="loader" id="loading-overlay"><img src="./img/logo.png" alt=""></div>
  <div class="fight-settings hidden">
    <button class="btn btn-go">Go Fight!</button>
    <div class="messages"></div>
  </div>
<div class="popup">
  <div class="window-open closed" id="fighter-details"><span class="close-btn"></span>
    <div class="window-content">
<div class="fighter-name"></div>
<div class="fighter-container">
  <div class="fighter-image"><img src="" alt=""></div>
  <div class="figter-info">
    <input type="hidden" name="health" id="fighter-id" value="">
    <div class="fighter-parameter fighter-health">
      <label for="fighter-health">Health</label>
      <input type="text" name="health" id="fighter-health" value="">
    </div>
    <div class="fighter-parameter fighter-defense">
      <label for="fighter-defense">Defense</label>
      <input type="text" name="defence" id="fighter-defense" value="">
    </div>
    <div class="fighter-parameter fighter-attack">
      <label for="fighter-attack">Attack</label>
      <input type="text" name="defence" id="fighter-attack" value="">
    </div>
    <button class="btn btn-save btn-block">Save fighter settings</button>
  </div>
</div>
    </div>
  </div>
  <div class="window-open closed" id="fight"><span class="close-btn"></span>
    <div class="window-content">
<div class="fighter-container">
  <div class="fighter-left fighter-card" data-id="">
    <div class="fighter-name"></div>
    <div class="health-indicator">
      <div class="indicator good" style="width: 100%;"></div>
    </div>
    <div class="fighter-image"><img src="" alt=""></div>
    <div class="fighter-bang fighter-hits">
      <div class="fighter-hit-count"><span>-15</span></div><img src="./img/bang.png" alt="Bang!">
    </div>
    <div class="fighter-avoid fighter-hits"><img src="./img/avoid.png" alt="Avoid!"></div>
    <div class="fighter-winner fighter-hits"><img src="./img/winner.png" alt="Winner!"></div>
    <div class="fighter-health good"></div>
  </div>
  <div class="fight">
    <div class="fight-title hidden">Please wait when the fight ends!</div><img class="bang" src="./img/vs.png" alt="VS">
    <button class="btn btn-start btn-big">Fight</button>
  </div>
  <div class="fighter-right fighter-card" data-id="">
    <div class="fighter-name"></div>
    <div class="health-indicator">
      <div class="indicator good" style="width: 100%;"></div>
    </div>
    <div class="fighter-image"><img src="" alt=""></div>
    <div class="fighter-bang fighter-hits">
      <div class="fighter-hit-count"><span>-15</span></div><img src="./img/bang.png" alt="Bang!">
    </div>
    <div class="fighter-avoid fighter-hits"><img src="./img/avoid.png" alt="Avoid!"></div>
    <div class="fighter-winner fighter-hits"><img src="./img/winner.png" alt="Winner!"></div>
    <div class="fighter-health good"></div>
  </div>
</div>
    </div>
  </div>
</div>
<script type="text/javascript" src="boundle.js"></script></body>

src/jade/index.pug
- var lang = "ru"

doctype html
html(lang=`${lang}`)
- var pageTitle = "Binary Studio Game - Street Fighters"
- var charset = "utf-8"
head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(charset=charset)
    title=pageTitle
body
    noscript You need to enable JavaScript to run this app
    #root
    .loader#loading-overlay
        img(src="./img/logo.png" alt="")
    .fight-settings.hidden
        button.btn.btn-go Go Fight!
        .messages
    include popup/popup
